body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  width: 580px;
  margin: 60px auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #0e4873;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mensagem {
  margin-top: 20px;
  background-color: #94fac8;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.nav-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  gap: 10px;
}

.tabela-usuarios {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.tabela-usuarios th,
.tabela-usuarios td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.tabela-usuarios th {
  background-color: #25a780;
  color: white;
}

.tabela-usuarios tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-usuarios tr:hover {
  background-color: #f1f1f1;
}

.obrigatorio {
  color: red;
  font-weight: bold;
}

input.erro {
  border: 1px solid red;
  background-color: #ffecec;
}

.status-icon {
  cursor: pointer;
  font-size: 20px;
}

.status-icon.ativo {
  color: green;
}

.status-icon.inativo {
  color: red;
}

form select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filtros {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.filtros label {
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 10px;
}

.campo-filtros {
  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #757575;
}

.icone-excluir {
  cursor: pointer;
  font-size: 18px;
  margin-left: 8px;
  color: #cc0000;
}

.icone-excluir:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .tabela-usuarios th,
  .tabela-usuarios td {
    font-size: 14px;
    padding: 8px;
  }

  .container {
    width: 300px;
  }
}